@import "tailwindcss";
@import "tailwindcss-animated";

@theme{
    --font-montserrat: "Montserrat", sans-serif;
    --color-roxo: #2d106f;
}


:root {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    color: white;
    background-color: black;
}

.invisivel{
    opacity: 0;
    filter: blur(15px);
    transform: translateX(-100%);
    transition: all 2s;
}

.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
    transition: all 2s;
}

.cart-icon {
    margin-left: 1rem;
    font-size: 1.5rem;
}





